@font-face {
    font-family: 'Eurostile';
    src: url( 'assets/eurostile.eot' );
    src: url( 'assets/eurostile.eot?#iefix' ) format( 'embedded-opentype' ),
         url( 'assets/eurostile.woff2' ) format( 'woff2' ),
         url( 'assets/eurostile.woff' ) format( 'woff' ),
         url( 'assets/eurostile.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Eurostile, Roboto;
}

h1 {
    text-transform: uppercase;
}
