@import "../../web-assets/theme-dark";

@font-face {
    font-family: 'Eurostile';
    font-style: normal;
    font-weight: normal;
    src: url( 'assets/eurostile.woff2' ) format( 'woff2' ),
        url( 'assets/eurostile.woff' ) format( 'woff' );
}

body {
    font-family: Eurostile, Roboto, serif;
}

h1 {
    text-transform: uppercase;
}
