body {
    font-size: 15px;
    line-height: 1.5;
}

blockquote {
    font-size: inherit;
}

br {
    content: ' ';
    display: block;
    margin: 15px auto;
}

h1 {
    text-align: center;
}

h1 a,
h1 a:active,
h1 a:hover {
    color: #000;
    text-decoration: none;
}

.header-container {
    position: relative;
}

.rss-link-wrapper {
    position: absolute;
    right: 15px;
    top: 10px;
}

.rss-link-wrapper i {
    font-size: 1.8em;
    margin: 0;
}

.panel {
    position: relative;
    word-wrap: break-word;
}

.panel-body img {
    max-width: 100%;
}

.fa {
    margin-right: 5px;
}

.clearer {
    line-height: 37px;
    pointer-events: auto;
    z-index: 1;
}

.clearer:hover {
    cursor: pointer;
}

.groups-wrapper .filters-wrapper .fa {
    transition: transform 0.3s ease;
}

.groups-wrapper.show .filters-wrapper .fa {
    transform: rotate( 180deg );
}

.expandable {
    max-height: 500px;
    overflow: hidden;
}

.expander {
    background: linear-gradient(
        to bottom,
        rgba( 255, 255, 255, 0 ) 0%,
        rgba( 255, 255, 255, 1 ) 40%,
        rgba( 255, 255, 255, 1 ) 100%
    );
    bottom: 44px;
    color: #2196F3;
    left: 15px;
    padding-bottom: 20px;
    padding-top: 60px;
    position: absolute;
    right: 0;
}

.expander:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ipsQuote_citation {
    font-weight: bold;
}


@media screen and ( max-width: 660px ){
    .rss-link-wrapper {
        display: none;
    }
}

@media screen and ( max-width: 480px ){
    h1 {
        font-size: 38px;
    }
}
