@import "_styles";

$fc-link: #74c7dd !default;
$fc-head: #beafa8 !default;
$fc-btxt: #d4e0e4 !default;
$fc-srch: #dcdcdc !default;
$bs-srch: #cbd5dd !default;
$fc-main: #dcdcdc !default;
$bg-main: #222222 !default;
$bg-pres: #444444 !default;
$bc-pres: #999999 !default;
$fc-pres: #eeeeee !default;
$bc-quot: $fc-link !default;

$fc-h1tx: lighten($bg-main, 50%) !default;
$fc-auth: lighten($fc-head, 10%) !default;
$bg-head: lighten($bg-main, 5%) !default;
$bg-pane: lighten($bg-main, 2%) !default;
$fc-role: lighten($bg-pres, 15%) !default;
$bg-foot: darken($bg-head, 2%) !default;
$bg-post: darken($fc-link, 20%) !default;
$fc-quot: darken($fc-main, 10%) !default;
$bg-chck: $bg-post;

body {
    color: $fc-main;
    background-color: $bg-main;
}

a {
    color: $fc-link;

    &:hover {
        color: lighten($fc-link, 20%);
    }
}

h1 a,
h1 a:active,
h1 a:hover {
    color: $fc-h1tx;
}

.dark-mode-toggle {
    fill: #fff;
}

.services-wrapper {
    opacity: .8;
}

.checkbox-inline input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
input[type="checkbox"]:after {
    border-color: $bg-chck;
}

.checkbox-inline input[type="checkbox"]:focus:after,
.checkbox input[type="checkbox"]:focus:after,
input[type="checkbox"]:focus:after {
    border-color: $bg-chck;
}

.checkbox-inline input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
input[type="checkbox"]:checked:after {
    background-color: $bg-chck;
    border-color: $bg-chck;
}

.has-feedback input[role=search] {
    box-shadow: inset 0px -2px 0px -1px $bs-srch;
    color: $fc-srch;

    &:focus {
        box-shadow: inset 0 -2px 0 lighten($fc-srch, 20%);
    }

    &::placeholder {
        color: darken($fc-srch, 20%);
    }
}

.panel {
    color: $fc-main;
    background-color: $bg-pane;

    > .panel-heading {
        color: $fc-head;
        background-color: $bg-head;

        .author {
            color: $fc-auth;
            font-weight: bold;
            font-size: 1.7rem;

            .role {
                color: $fc-role;
                font-size: 1.2rem;
                display: inline-block;
                vertical-align: middle;
                margin-left: 3px;
            }
        }
    }

    > .panel-footer {
        background-color: $bg-foot;

        .timed, .link {
            opacity: .7;

            &:hover {
                opacity: 1;
            }
        }

        .icon {
            &.comments {
                fill: #fff;
            }
        }

        .expander {
            background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, $bg-pane);
            text-align: center;
        }
    }
}

.btn {
    color: $fc-btxt;
    background-color: $bg-post;

    &:hover {
        color: $fc-btxt;
    }
}

.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
    color: $fc-btxt;
    background: lighten($bg-post, 10%);
}

blockquote {
    color: $fc-quot;
    border-color: $bc-quot;
    opacity: .4;
    background-color: rgba(255, 255, 255, .05);

    &:hover {
        opacity: 1;
    }
}

pre {
    color: $fc-pres;
    background-color: $bg-pres;
    border-color: $bc-pres;
    line-height: 1.4;
    border-radius: 1px;
}

iframe {
    border: 1px solid;
}

.groups-wrapper .filters-wrapper svg {
    fill: #fff;
}