@import "../../web-assets/light";

@font-face {
    font-family: 'Purista';
    src: url( 'assets/purista-medium.woff2' ) format( 'woff2' ),
         url( 'assets/purista-medium.woff' ) format( 'woff' );
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #2c2d30;
    color: #fff;
    font-family: Purista, Roboto;
}

h1 {
    text-transform: uppercase;
}

h1 a,
h1 a:active,
h1 a:hover {
    color: #fff;
}

a,
a:focus,
a:hover,
a:active {
    color: #f17f1a;
}

#icon-rss rect {
    fill: #f17f1a;
}

#icon-reddit rect {
    fill: #f17f1a;
}

#icon-twitter rect {
    fill: #f17f1a;
}

#icon-comments {
    fill: #f17f1a;
}

#icon-caret {
    fill: #f17f1a;
}

.header-logo {
    max-height: 42px;
    position: relative;
    top: -5px;
}

.group-label.ea {
    background-image: url( 'assets/logo-ea.png' );
    text-indent: -9999px;
    width: 50px;
}

.group-label.dice {
    background-image: url( 'assets/logo-dice.png' );
    text-indent: -9999px;
    width: 50px;
}

.panel {
    background-color: #131313;
    border-radius: 0;
    box-shadow: 0 1px 29px rgb(0, 0, 0);
}

.panel-footer {
    background-color: #1a1a1a;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #1a1a1a;
}

.form-control {
    color: #fff;
}

.expander {
    background: linear-gradient(
        to bottom,
        rgba( 19, 19, 17, 0 ) 0%,
        rgba( 19, 19, 17, 1 ) 40%,
        rgba( 19, 19, 17, 1 ) 100%
    );
}

@media screen and ( max-width: 1040px ){
    .groups-wrapper .checkbox {
        width: 80px;
    }
}

@media screen and ( max-width: 480px ){
    .header-logo {
        display: block;
        margin: 0 auto;
        max-height: 38px;
    }
}
