*::-ms-clear {
  height: 0;
  width: 0; }

body {
  font-size: 15px;
  line-height: 1.5; }

blockquote {
  font-size: inherit; }

br {
  content: ' ';
  display: block;
  margin: 15px auto; }

h1 {
  text-align: center; }

h1 a,
h1 a:active,
h1 a:hover {
  text-decoration: none; }

.header-container {
  position: relative; }

.header-link {
  position: absolute;
  right: 15px;
  top: 10px; }

.header-link i {
  font-size: 1.8em;
  margin: 0; }

.github-link {
  right: 45px; }

.reddit-link {
  right: 75px; }

.twitter-link {
  right: 105px; }

.patreon-link {
  right: 135px; }

.dark-mode-toggle {
  position: absolute;
  top: 10px; }

.panel {
  position: relative;
  word-wrap: break-word; }

.panel-footer {
  position: relative;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .panel-footer .timed {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .panel-footer .timed .icon-a {
      font-size: 0; }

.panel-body img {
  max-width: 100%; }

.icon {
  height: 25px;
  width: 25px; }

.clearer:hover {
  cursor: pointer; }

.expandable {
  max-height: 500px;
  overflow: hidden; }

.expander {
  bottom: 100%;
  left: 15px;
  padding-bottom: 20px;
  padding-top: 60px;
  position: absolute;
  right: 0; }
  .expander:hover {
    cursor: pointer;
    text-decoration: underline; }

input[type="checkbox"],
.checkbox input[type="checkbox"] {
  margin-bottom: 0;
  margin-right: 5px; }

.filter-label {
  height: 23px;
  line-height: 23px;
  vertical-align: top; }

.services-wrapper {
  text-align: center; }

.service-checkbox,
.service-checkbox + .service-checkbox {
  display: inline-block;
  margin: 5px 20px 5px 5px; }

.service-checkbox label {
  height: 23px;
  width: 100%; }

.groups-wrapper {
  margin: 0 auto 20px auto;
  text-align: center;
  width: 1040px; }

.groups-wrapper input[type="checkbox"],
.groups-wrapper .checkbox input[type="checkbox"] {
  height: 18px;
  width: 18px; }

.groups-wrapper .filters-wrapper svg {
  transition: transform 0.3s ease; }

.groups-wrapper.show .filters-wrapper svg {
  transform: rotate(180deg); }

.groups-wrapper .checkbox {
  display: inline-block;
  font-size: 12px;
  margin: 5px;
  line-height: 15px; }

.groups-wrapper .checkbox label {
  white-space: nowrap; }

.group-label {
  background-position: center left;
  background-repeat: no-repeat;
  display: inline-block;
  height: 23px;
  line-height: 25px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap; }

.filters-wrapper {
  display: none; }

.adsbygoogle {
  display: block; }

.bb-spoiler-toggle + .bb-spoiler {
  display: none; }

.bb-spoiler-toggle.active + .bb-spoiler {
  display: block; }

.bb-spoiler {
  border: 1px dashed;
  margin: 10px 0;
  padding: 10px; }

a.ipsAttachLink_image {
  display: flex;
  justify-content: center; }

.services-wrapper label:hover {
  text-decoration: underline; }

.has-feedback input[role=search] {
  padding: 0 15px; }

@media screen and (max-width: 1800px) {
  .adsbygoogle {
    display: none; } }

@media screen and (max-width: 1200px) {
  .groups-wrapper {
    text-align: center;
    width: auto; } }

@media screen and (max-width: 660px) {
  .header-link {
    display: none; }
  .dark-mode-toggle {
    background-color: #f5f5f5;
    border-radius: 50%;
    bottom: 20px;
    display: block;
    padding: 15px;
    height: 55px;
    position: fixed;
    right: 20px;
    top: auto;
    z-index: 1; } }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px; }
  .services-wrapper {
    text-align: inherit; }
  .service-checkbox,
  .service-checkbox + .service-checkbox {
    margin: 0;
    text-align: left;
    width: 50%; }
  .service-checkbox:nth-child(odd) label {
    padding-right: 30px;
    padding-left: 0; }
  .service-checkbox:nth-child(odd) input[type="checkbox"] {
    float: right;
    margin-left: 10px;
    margin-right: -25px; }
  .service-checkbox:nth-child(even) input[type="checkbox"] {
    float: left; }
  .service-checkbox:nth-child(even) span {
    float: right; }
  .service-checkbox:nth-child(odd) span {
    float: left; }
  .filter-label {
    line-height: 25px; }
  .filters-wrapper {
    display: block; }
  .groups-wrapper .checkbox {
    display: none; }
  .groups-wrapper.show .checkbox {
    display: inline-block; } }

body {
  color: #dcdcdc;
  background-color: #222222; }

a {
  color: #74c7dd; }
  a:hover {
    color: #c6e8f1; }

h1 a,
h1 a:active,
h1 a:hover {
  color: #a2a2a2; }

.dark-mode-toggle {
  fill: #fff; }

.services-wrapper {
  opacity: .8; }

.checkbox-inline input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
input[type="checkbox"]:after {
  border-color: #2e9fbd; }

.checkbox-inline input[type="checkbox"]:focus:after,
.checkbox input[type="checkbox"]:focus:after,
input[type="checkbox"]:focus:after {
  border-color: #2e9fbd; }

.checkbox-inline input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
input[type="checkbox"]:checked:after {
  background-color: #2e9fbd;
  border-color: #2e9fbd; }

.has-feedback input[role=search] {
  box-shadow: inset 0 -1px 0 #cbd5dd;
  color: #dcdcdc; }
  .has-feedback input[role=search]:focus {
    box-shadow: inset 0 -2px 0 white; }
  .has-feedback input[role=search]::placeholder {
    color: darkgray; }

.panel {
  color: #dcdcdc;
  background-color: #272727; }
  .panel > .panel-heading {
    color: #beafa8;
    background-color: #2f2f2f; }
    .panel > .panel-heading .author {
      color: #d4cac5;
      font-weight: bold;
      font-size: 1.7rem; }
      .panel > .panel-heading .author .role {
        color: #6a6a6a;
        font-size: 1.2rem;
        display: inline-block;
        vertical-align: middle;
        margin-left: 3px; }
  .panel > .panel-footer {
    background-color: #2a2a2a; }
    .panel > .panel-footer .timed, .panel > .panel-footer .link {
      opacity: .7; }
      .panel > .panel-footer .timed:hover, .panel > .panel-footer .link:hover {
        opacity: 1; }
    .panel > .panel-footer .icon.comments {
      fill: #fff; }
    .panel > .panel-footer .expander {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #272727);
      text-align: center; }

.btn {
  color: #d4e0e4;
  background-color: #2e9fbd; }
  .btn:hover {
    color: #d4e0e4; }

.btn-default:active:focus,
.btn-default:active:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:hover {
  color: #d4e0e4;
  background: #4bb6d3; }

blockquote {
  color: #c3c3c3;
  border-color: #74c7dd;
  opacity: .4;
  background-color: rgba(255, 255, 255, 0.05); }
  blockquote:hover {
    opacity: 1; }

pre {
  color: #eeeeee;
  background-color: #444444;
  border-color: #999999;
  line-height: 1.4;
  border-radius: 1px; }

iframe {
  border: 1px solid; }

@media screen and (max-width: 660px) {
  .dark-mode-toggle {
    background-color: #444444; } }

/*# sourceMappingURL=theme-dark.map */