@font-face {
    font-family: 'counter-strike';
    src: url( 'assets/CounterStrike.eot' );
    src: url( 'assets/CounterStrike.eot?#iefix' ) format( 'embedded-opentype' ),
         url( 'assets/CounterStrike.woff2' ) format( 'woff2' ),
         url( 'assets/CounterStrike.woff' ) format( 'woff' ),
         url( 'assets/CounterStrike.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 15px;
    line-height: 1.5;
}

blockquote {
    font-size: inherit;
}

br {
    content: ' ';
    display: block;
    margin: 15px auto;
}

.container > h1 {
    font-family: counter-strike, serif;
    text-align: center;
    text-transform: uppercase;
}

.container > h1 a {
    color: #000;
    text-decoration: none;
}

.panel {
    position: relative;
    word-wrap: break-word;
}

.panel h1 {
    font-size: 38px;
}

.fa {
    margin-right: 5px;
}

.clearer {
    line-height: 37px;
    pointer-events: auto;
    z-index: 1;
}

.groups-wrapper {
    margin: 0 auto 20px auto;
    width: 1040px;
}

.checkbox {
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    line-height: 15px;
    width: 105px;
}

/* Fix for bootstrap styling */
.checkbox+.checkbox {
    margin: 5px;
}

.group-label {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -176px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    position: relative;
    text-indent: -9999px;
    top: -2px;
    width: 50px;
}

.group-label.all {
    background: none;
    text-align: left;
    text-indent: 0;
    top: -1px;
}

.group-label.astralis {
    background-position: -52px -153px;
}

.group-label.cevo {
    background-position: -104px -34px;
}

.group-label.csgolounge {
    background-position: -104px -119px;
}

.group-label.complexity {
    background-image: url( 'assets/logo-complexity.png' );
    background-position: top left;
}

.group-label.dreamhack {
    background-image: url( 'assets/logo-dreamhack.png' );
    background-position: top left;
}

.group-label.e-frag {
    background: none;
    text-align: left;
    text-indent: 0;
    top: -1px;
}

.group-label.eleague {
    background-image: url( 'assets/logo-eleague.png' );
    background-position: top left;
}

.group-label.epicenter {
    background-image: url( 'assets/logo-epicenter.png' );
    background-position: top left;
}

.group-label.esea {
    background-position: 0 -34px;
}

.group-label.esl {
    background-position: -104px 0;
}

.group-label.faceit {
    background-position: -156px -17px;
}

.group-label.fnatic {
    background-position: -156px -34px;
}

.group-label.g2-esports {
    background-position: -52px -170px;
}

.group-label.gfinity {
    background-position: 0 -170px;
}

.group-label.mlg {
    background-position: -156px -151px;
}

.group-label.mousesports {
    background-image: url( 'assets/logo-mousesports.png' );
    background-position: top left;
}

.group-label.navi {
    background-position: -156px -68px;
}

.group-label.nip {
    background-position: -156px -51px;
}

.group-label.oddshot {
    background-image: url( 'assets/logo-oddshot.png' );
    background-position: top left;
}

.group-label.renegades {
    background-image: url( 'assets/logo-renegades.png' );
    background-position: top left;
}

.group-label.roomonfire {
    background-position: -156px -119px;
}

.group-label.team-liquid {
    background-position: -104px -101px;
}

.group-label.twitch {
    background-image: url( 'assets/logo-twitch.png' );
    background-position: top left;
}

.group-label.valve {
    background-position: -52px 0;
}

.group-label.wesa {
    background-image: url( 'assets/logo-wesa.png' );
    background-position: top left;
}

.clearer:hover {
    cursor: pointer;
}

.expandable {
    max-height: 500px;
    overflow: hidden;
}

.expander {
    background: linear-gradient(
        to bottom,
        rgba( 255, 255, 255, 0 ) 0%,
        rgba( 255, 255, 255, 1 ) 40%,
        rgba( 255, 255, 255, 1 ) 100%
    );
    bottom: 40px;
    color: #2196F3;
    left: 15px;
    padding-bottom: 20px;
    padding-top: 60px;
    position: absolute;
    right: 0;
}

.expander:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and ( max-width: 1200px ){
    .groups-wrapper {
        text-align: center;
        width: auto;
    }
}

@media screen and ( max-width: 1040px ){
    .checkbox {
        width: 80px;
    }
}

@media screen and ( max-width: 480px ){
    h1 {
        font-size: 38px;
    }
}
