@font-face {
    font-family: 'counter-strike';
    src: url( 'assets/CounterStrike.eot' );
    src: url( 'assets/CounterStrike.eot?#iefix' ) format( 'embedded-opentype' ),
         url( 'assets/CounterStrike.woff2' ) format( 'woff2' ),
         url( 'assets/CounterStrike.woff' ) format( 'woff' ),
         url( 'assets/CounterStrike.ttf' ) format( 'truetype' );
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 15px;
    line-height: 1.5;
}

blockquote {
    font-size: inherit;
}

br {
    content: ' ';
    display: block;
    margin: 15px auto;
}

.header-container {
    position: relative;
}

.rss-link-wrapper {
    position: absolute;
    right: 15px;
    top: 10px;
}

.rss-link-wrapper i {
    font-size: 1.8em;
    margin: 0;
}

.container > h1 {
    font-family: counter-strike, serif;
    text-align: center;
    text-transform: uppercase;
}

.container > h1 a {
    color: #000;
    text-decoration: none;
}

.panel {
    position: relative;
    word-wrap: break-word;
}

.panel h1 {
    font-size: 38px;
}

.fa {
    margin-right: 5px;
}

.clearer {
    line-height: 37px;
    pointer-events: auto;
    z-index: 1;
}

.groups-wrapper {
    margin: 0 auto 20px auto;
    width: 1040px;
}

.checkbox {
    display: inline-block;
    font-size: 12px;
    margin: 5px;
    line-height: 15px;
    width: 105px;
}

/* Fix for bootstrap styling */
.checkbox+.checkbox {
    margin: 5px;
}

.group-label {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    top: 2px;
    width: 50px;
    white-space: nowrap;
}

.group-label.astralis {
    background-image: url( 'assets/flairs.png' );
    background-position: -52px -153px;
    text-indent: -9999px;
}

.group-label.cevo {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -34px;
    text-indent: -9999px;
}

.group-label.cloud9 {
    background-image: url( 'assets/logo-cloud9.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.csgolounge {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -119px;
    text-indent: -9999px;
}

.group-label.complexity {
    background-image: url( 'assets/logo-complexity.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.counter-logic-gaming {
    background-image: url( 'assets/logo-counter-logic-gaming.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.dreamhack {
    background-image: url( 'assets/logo-dreamhack.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.dropthebomb {
    background-image: url( 'assets/logo-dropthebomb.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.echo-fox {
    background-image: url( 'assets/logo-echo-fox.png' );
    text-indent: -9999px;
}

.group-label.eleague {
    background-image: url( 'assets/logo-eleague.png' );
    text-indent: -9999px;
}

.group-label.epicenter {
    background-image: url( 'assets/logo-epicenter.png' );
    text-indent: -9999px;
}

.group-label.esea {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -34px;
    text-indent: -9999px;
}

.group-label.esl {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px 0;
    text-indent: -9999px;
}

.group-label.faceit {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -17px;
    text-indent: -9999px;
}

.group-label.flipsid3 {
    background-image: url( 'assets/flairs.png' );
    background-position: 0px -102px;
    text-indent: -9999px;
}

.group-label.fnatic {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -34px;
    text-indent: -9999px;
}

.group-label.g2-esports {
    background-image: url( 'assets/flairs.png' );
    background-position: -52px -170px;
    text-indent: -9999px;
}

.group-label.gfinity {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -170px;
    text-indent: -9999px;
}

.group-label.godsent {
    background-image: url( 'assets/logo-godsent.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.hellraisers {
    background-image: url( 'assets/logo-hellraisers.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.immortals {
    background-image: url( 'assets/logo-immortals.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.misfits {
    background-image: url( 'assets/logo-misfits.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.mlg {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -151px;
    text-indent: -9999px;
}

.group-label.mousesports {
    background-image: url( 'assets/logo-mousesports.png' );
    text-indent: -9999px;
}

.group-label.navi {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -68px;
    text-indent: -9999px;
}

.group-label.ninjas-in-pyjamas {
    background-image: url( 'assets/logo-ninjas-in-pyjamas.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.north {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -170px;
    text-indent: -9999px;
}

.group-label.oddshot {
    background-image: url( 'assets/logo-oddshot.png' );
    text-indent: -9999px;
}

.group-label.pgl {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -153px;
    text-indent: -9999px;
}

.group-label.renegades {
    background-image: url( 'assets/logo-renegades.png' );
    text-indent: -9999px;
}

.group-label.roomonfire {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -119px;
    text-indent: -9999px;
}

.group-label.selfless-gaming {
    background-image: url( 'assets/logo-selfless-gaming.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.team-liquid {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -101px;
    text-indent: -9999px;
}

.group-label.team-solomid {
    background-image: url( 'assets/logo-team-solomid.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.twitch {
    background-image: url( 'assets/logo-twitch.png' );
    text-indent: -9999px;
}

.group-label.valve {
    background-image: url( 'assets/flairs.png' );
    background-position: -52px 0;
    text-indent: -9999px;
}

.group-label.wesa {
    background-image: url( 'assets/logo-wesa.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.clearer:hover {
    cursor: pointer;
}

.expandable {
    max-height: 500px;
    overflow: hidden;
}

.expander {
    background: linear-gradient(
        to bottom,
        rgba( 255, 255, 255, 0 ) 0%,
        rgba( 255, 255, 255, 1 ) 40%,
        rgba( 255, 255, 255, 1 ) 100%
    );
    bottom: 44px;
    color: #2196F3;
    left: 15px;
    padding-bottom: 20px;
    padding-top: 60px;
    position: absolute;
    right: 0;
}

.expander:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filters-wrapper {
    display: none;
}

@media screen and ( max-width: 1200px ){
    .groups-wrapper {
        text-align: center;
        width: auto;
    }
}

@media screen and ( max-width: 1040px ){
    .checkbox {
        width: 80px;
    }
}

@media screen and ( max-width: 660px ){
    .rss-link-wrapper {
        display: none;
    }
}

@media screen and ( max-width: 480px ){
    h1 {
        font-size: 38px;
    }

    .filters-wrapper {
        display: block;
    }

    .groups-wrapper .checkbox {
        display: none;
    }

    .groups-wrapper.show .checkbox {
        display: inline-block;
    }
}
