@font-face {
    font-family: 'counter-strike';
    src: url( 'assets/CounterStrike.woff2' ) format( 'woff2' ),
         url( 'assets/CounterStrike.woff' ) format( 'woff' );
    font-weight: normal;
    font-style: normal;
}

.container > h1 {
    font-family: counter-strike, serif;
    text-align: center;
    text-transform: uppercase;
}

.container > h1 a {
    color: #000;
    text-decoration: none;
}

.panel h1 {
    font-size: 38px;
}

.group-label.astralis {
    background-image: url( 'assets/flairs.png' );
    background-position: -52px -153px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.beyond-the-summit {
    background-image: url( 'assets/flairs.png' );
    background-position: -52px -187px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.boxr {
    background-image: url( 'https://csgo-data.com/logos/boxr/100' );
    background-size: 15px 15px;
}

.group-label.boxr:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.big {
    background-image: url( 'https://csgo-data.com/logos/big/100' );
    background-size: 15px 15px;
}

.group-label.big:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.cevo {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -34px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.cloud9 {
    background-image: url( 'assets/logo-cloud9.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.csgolounge {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -119px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.complexity {
    background-image: url( 'assets/logo-complexity.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.counter-logic-gaming {
    background-image: url( 'assets/logo-counter-logic-gaming.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.dignitas {
    background-image: url( 'https://csgo-data.com/logos/team dignitas/100' );
    background-size: 15px 15px;
}

.group-label.dignitas:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.dreamhack {
    background-image: url( 'assets/logo-dreamhack.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.dropthebomb {
    background-image: url( 'assets/logo-dropthebomb.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.echo-fox {
    background-image: url( 'assets/logo-echo-fox.png' );
    text-indent: -9999px;
}

.group-label.eleague {
    background-image: url( 'assets/logo-eleague.png' );
    text-indent: -9999px;
}

.group-label.eunited {
    background-image: url( 'https://csgo-data.com/logos/eunited/100' );
    background-size: 15px 15px;
}

.group-label.eunited:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.epicenter {
    background-image: url( 'assets/logo-epicenter.png' );
    text-indent: -9999px;
}

.group-label.esea {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -34px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.esl {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px 0;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.espn {
    background-image: url( 'assets/logo-espn.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.faceit {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -17px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.flipsid3 {
    background-image: url( 'assets/flairs.png' );
    background-position: 0px -102px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.fnatic {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -34px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.g2-esports {
    background-image: url( 'assets/flairs.png' );
    background-position: -52px -170px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.gambit {
    background-image: url( 'https://csgo-data.com/logos/gambit gaming/100' );
    background-size: 15px 15px;
}

.group-label.gambit:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.gfinity {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -170px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.godsent {
    background-image: url( 'assets/logo-godsent.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.hellraisers {
    background-image: url( 'assets/logo-hellraisers.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.heroic {
    background-image: url( 'https://csgo-data.com/logos/heroic/100' );
    background-size: 15px 15px;
}

.group-label.heroic:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.immortals {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -204px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.misfits {
    background-image: url( 'assets/logo-misfits.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.mlg {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -151px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.mousesports {
    background-image: url( 'assets/logo-mousesports.png' );
    text-indent: -9999px;
}

.group-label.mythic {
    background-image: url( 'https://csgo-data.com/logos/mythic/100' );
    background-size: 15px 15px;
}

.group-label.mythic:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.navi {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -68px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.ninjas-in-pyjamas {
    background-image: url( 'assets/logo-ninjas-in-pyjamas.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.nrg-esports {
    background-image: url( 'https://csgo-data.com/logos/nrg esports/100' );
    background-size: 15px 15px;
}

.group-label.nrg-esports:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.north {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -170px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.oddshot {
    background-image: url( 'assets/logo-oddshot.png' );
    text-indent: -9999px;
}

.group-label.optic-gaming {
    background-image: url( 'assets/logo-optic-gaming.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.penta-sports {
    background-image: url( 'https://csgo-data.com/logos/penta sports/100' );
    background-size: 15px 15px;
}

.group-label.penta-sports:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.pgl {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -153px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.rfrsh-entertainment {
    background-image: url( 'assets/logo-rfrsh-entertainment.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.renegades {
    background-image: url( 'assets/logo-renegades.png' );
    text-indent: -9999px;
}

.group-label.roomonfire {
    background-image: url( 'assets/flairs.png' );
    background-position: -156px -119px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.selfless-gaming {
    background-image: url( 'assets/logo-selfless-gaming.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.sk-gaming {
    background-image: url( 'assets/flairs.png' );
    background-position: 0 -187px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.splyce {
    background-image: url( 'assets/logo-splyce.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.team-envyus {
    background-image: url( 'https://csgo-data.com/logos/team envyus/100' );
    background-size: 15px 15px;
}

.group-label.team-envyus:before {
    background-image: inherit;
    background-position: center;
    background-size: 50px 50px;
    content: ' ';
    display: block;
    position: relative;
    height: 100%;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
}

.group-label.team-liquid {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -101px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.team-solomid {
    background-image: url( 'assets/logo-team-solomid.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

.group-label.twitch {
    background-image: url( 'assets/logo-twitch.png' );
    text-indent: -9999px;
}

.group-label.valve {
    background-image: url( 'assets/flairs.png' );
    background-position: -52px 0;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}


.group-label.vega-squadron {
    background-image: url( 'assets/flairs.png' );
    background-position: -104px -187px;
    bottom: 3px;
    height: 15px;
    position: relative;
    text-indent: -9999px;
}

.group-label.wesa {
    background-image: url( 'assets/logo-wesa.png' );
    background-size: 50px 15px;
    text-indent: -9999px;
}

@media screen and ( max-width: 480px ){
    h1 {
        font-size: 38px;
    }
}
