@import "../../web-assets/theme-dark";

@font-face {
    font-family: 'Destiny';
    font-weight: normal;
    font-style: normal;
    src: url( 'destiny-font.woff2' ) format( 'woff2' ),
         url( 'destiny-font.woff' ) format( 'woff' );
    font-display: swap;
}

body {
    font-family: Destiny, Roboto, serif;
}
