@import "../../web-assets/theme-dark";

.group-label.esl {
    background-image: url( 'assets/logo-esl.png' );
    text-indent: -9999px;
    width: 50px;
}

.group-label.ubisoft {
    background-image: url( 'assets/logo-ubisoft.png' );
    text-indent: -9999px;
    width: 50px;
}
